/* Contenedor principal del dashboard */
.dashboard-container {
  padding: 5rem;
  min-height: calc(100vh - 80px);
}

/* Título principal centrado */
.titulo-principal {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 30px;
  font-size: 45px;
  color: #112344;
}

/* Contenedor principal con 3 columnas */
.contenido-principal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  height: 100%;
}

/* Columnas izquierda (tablas), centro (gráficos), derecha (KPIs) */
.columna-izquierda,
.columna-centro {
  flex: 3;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.columna-derecha {
  margin-left: 5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

/* Tablas y gráficos */
.tabla,
.grafico {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 50%;
}

.grafico {
  align-items: center;
   justify-content: center;
}

/* Canvas dentro de los gráficos */
.grafico canvas {
  max-width: 100% !important;
  max-height: 100% !important;
  width: 90% !important;
  height: auto !important;
  display: block;
}

/* Estilo de las tablas */
.tabla table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.tabla th,
.tabla td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* KPI cards en columna */
.columna-derecha {
  align-items: stretch;
}

/* Cada tarjeta KPI */
.kpi {
  background-color: rgb(23, 43, 78);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  flex: none;
  min-width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.534);
}

.kpi h3 {
  margin: 0;
  font-size: 18px;
}

.kpi p {
  font-size: 24px;
  font-weight: bold;
}