.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
}

.login-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  padding: 10px;
  background-color: #001f3f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
