
.navbar {
  position: fixed;        /* Se fija en la parte superior */
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  background-color: rgb(14, 25, 46);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.navbar-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;  /* Centra el contenido */
  padding: 0 30px;
  position: relative;
}

/* El logo centrado */
.logo {
  height: 130px;
  object-fit: contain;
}

.navbar:hover .menu-deslizable {
  max-height: 100px; /* Ajusta según la altura de tu contenido */
}
